.eager-email-button {
  border-radius: 5px;
  border: 1px solid #566963;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 11px 23px;
  text-decoration: none;
}
